    body{

        margin: 15px;
        background-image: linear-gradient(90deg, #d4b36bd0, #ffeba8b7);
    }    
    #gridcontainer {             
       
        padding:10px ;
        width: 90vw;
        height:90vh ;
        background-color: #00ba44;
        display: grid;   
        grid-template-columns: 1fr 2fr;     
        grid-template-areas:
        "Header Header"
        "Kalender Info"
        "Links History"
        "Footer Footer";
        gap: 10px;
        /*grid-template-rows: 15% ,20% , 45%, 10%;
        */
         /*align-items: flex-start;*/
         /* grid-template-areas:

           grid-template-columns:50%,50% ;
        grid-template-rows: 15%,35%,35%,15%;
       "header , header,header , header"
        "kalender, kalender , info, info "
        "kalender, kalender , info, info "
        " footer , footer, footer , footer"; */
    }
    #header  {
        grid-area:Header;
        border-radius: 10%;
        background-image: linear-gradient(180deg, #8fd81b, #6ec23eb9);
        text-align: center;
        /*grid-column-start:1 ;
        grid-column-end:4 ;
        grid-row-start:1 ;
        grid-row-end:1 ;*/
    }
    #Calender {
        grid-area:Kalender;
        display: flex;
        justify-content: center;
        border:  3px ridge gray; 
        border-radius: 5%;
        padding: 10px;
        /*grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start:2 ;
        grid-row-end:3 ;*/
        background-color:#b28c59;
    }
    #links{
        grid-area:Links;
        
    }

    #info{
        grid-area: Info;
        background-color:#cca066;
        text-align: center;
        /*grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start:2 ;
        grid-row-end:2 ;*/
    }
    #history{
        /*width: 200px;
        height: 200px;
        padding:10px ;
        border: 1px solid;
         grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start:3 ;
        grid-row-end:3 ;*/
        grid-area:History;
        background-color: #ffc880;
        display: flex;
        flex-flow:row wrap ;
        justify-content: space-around;
        text-align: center;
       
    }
    #footer{
            background-color: #ffd399;
           grid-area:Footer;
            /*text-align: center;
             grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start:4 ;
            grid-row-end:4 ;*/
    }
    img{
       height: 100%;
       width: 100%;
    }
    thead{
            display: block;
            width: 50px;
    }
    #H1{
    text-align: center;
    }
    #Month {
    color:maroon;
    text-align: left;
    border: none;
    
    }
    #year{
    color: maroon;
    border: none;
    align-items: stretch; 
    width: 50px;
    }
    .Saturday{
        background-color:#d8a766;
        padding: 0 5px 0 5px;    
        width: 50px;
    }
    td~.Saturday:hover{
        background-color:#eb433794;
    }  
    .Sunday{
        background-color:#cf3d33;
        color: #ffc880;
        padding: 0 5px 0 5px;
        width: 50px;
    }  
    td~.Sunday:hover{
        background-color: #9f60bf;
    }
    .headTable{
        background-color: black;
        color: aliceblue;
        padding: 5px;    
    }
    td{
        border:2px inset olivedrab;
        text-align: center;
    }
    td:hover{
        background-color: #6b7e99;
    }
    button{display: inline;
    border-radius: 10px;
    background-color: #6ec23eb9;
    width: 50px;
    
    }
    #none{
    display: inline-block;
    width: 50px;
    visibility: hidden;
    }
    #back_m{
        display: block;
        width: 50px;
    }
    #forwad_m{
        display: block;
        width: 50px;
    }
    #forwad_y{
        display: block;
        width: 50px;
    }
    #back_y{
        display: block;
        width: 50px;
    }
    .todayCl{
        background-color: #8fd81b;
        border: 3px solid;
    }
    .restDay{
        background-color: pink;
    }
    .selected{
        background-color: #92b0d9;
    }
    .otherMonth{
        opacity: 50%;
    }