    body{

        margin: 15px;
        background-image: linear-gradient(90deg, #755510, #ff9d0b);
    }    
    #gridcontainer {             
       
        padding:10px ;
        width: 90vw;
        height: 80vh ;
        display: grid;   
        grid-template-columns: 1fr 2fr;     
        grid-template-areas:
        "Header Header"
        "Kalender Info"
        "Links History"
        "Footer Footer";
        gap: 10px;
    }
    #header  {
        grid-area:Header;
        height: fit-content;
        border-radius: 50%;
        background-image: linear-gradient(180deg, #ade70075, #01951268);
        text-align: center;
        font-size: xx-large;
        border:  3px ridge gray; 
        font-family: Arial, Helvetica, sans-serif;

    }
    #Calender {
        grid-area:Kalender;
        display: flex;
        justify-content: center;
        border:  3px ridge gray; 
        border-radius: 5%;
        padding: 10px;
        background-color:#b28c59;
        font-family: Arial, Helvetica, sans-serif;
    }
    #info{
        grid-area: Info;
        background-color:#e4aa5fa5;
        text-align: center;
        font-size: x-large;
        border:  3px ridge gray; 
        border-radius: 12px;
        font-family: Arial, Helvetica, sans-serif;   
    }
    #history{
        grid-area:History;
        background-color: #ffc88082;
        display: flex;
        flex-flow:row wrap ;
        justify-content: space-around;
        border:  3px ridge gray; 
        border-radius: 12px;
        text-align: left;
        font-weight: 550;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
    }
    #footer{
           grid-area:Footer;
           font-size: large;
           font-weight: bolder;
           font-family: Arial, Helvetica, sans-serif;
    }
    img{
       height: 100%;
       width: 100%;
       border-radius: 50px;
       border: groove;
    }
    thead{
            display: block;
            width: 50px;
            font-family: Arial, Helvetica, sans-serif;
    }
    #H1{
    text-align: center;
    }
    #Month {
    color:maroon;
    text-align: left;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    #year{
    color: maroon;
    border: none;
    align-items: stretch; 
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    }
    .Saturday{
        background-color:#d8a766;
        padding: 0 5px 0 5px;    
        width: 50px;
    }
    td~.Saturday:hover{
        background-color:#eb433794;
    }  
    .Sunday{
        background-color:#cf3d33;
        padding: 0 5px 0 5px;
        width: 50px;
    }  
    td~.Sunday:hover{
        background-color: #9f60bf;
    }
    .headTable{
        background-color: black;
        color: aliceblue;
        padding: 5px;    
    }
    td{
        border:2px inset olivedrab;
        text-align: center;
        font-size: large;
        font-weight: bold;
    }
    td:hover{
        background-color: #3f4a58;
    }
    button{display: inline;
    border-radius: 10px;
    background-color: #6ec23eb9;
    width: 50px;
    
    }
    #none{
    display: inline-block;
    width: 50px;
    visibility: hidden;
    }
    #back_m{
        display: block;
        width: 50px;
    }
    #forwad_m{
        display: block;
        width: 50px;
    }
    #forwad_y{
        display: block;
        width: 50px;
    }
    #back_y{
        display: block;
        width: 50px;
    }
    .todayCl{
        background-color: #4dd609a1;
        border: 3px outset;
    }
    .restDay{
        background-color: pink;
    }
    .selected{
        background-color: #6b8bb8;
    }
    .otherMonth{
        opacity: 55%;
    }
    .kW{
        color: #023f94;
        font-size: larger;
        font-weight: 1000;
    }